*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Bai Jamjuree',sans-serif;
    
}

:root{
    --red: rgb(237, 29, 38);
    --black:rgb(7, 3, 14);
}

body{
    background-color: var(--black);
}

header{
    width: 100%;
    height: 120px;
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 6;
}

.logo img{
    width: 150px;
}

.navig-bar{
    display: flex;
    align-items: center;
    gap: 30px;
}

.navig-bar ul{
    list-style: none;
    display: flex;
    gap: 30px;
    display: none;
    font-weight: 600;
    font-style: italic;
}


ul a{
    text-decoration: none;
}

ul a:hover{
    color: var(--red);
}

.readmore-butn{
    background-color: white;
    color: var(--black);
    width: 120px;
    height: 50px;
    border-radius: 8px;
    border-style: none;
    display: none;
}

.menu-bar{
    border-style: none;
    background: transparent;
}

.menu-bar img{
    width: 40px;
}

.menu-container{
    width: 100%;
    height: 300px;
    position: absolute;
    transform: translateY(-430px);
    z-index: 5;
    background-color: black;
    transition: transform 2000ms ease-in;
}

.menu-links li{
    height: 60px;
    border: 1px solid rgba(255, 255, 255, 0.164);
    display: flex;
    align-items: center;
    padding: 30px;
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    color: rgb(184, 184, 184);
}

.close-butn{
    background: transparent;
    border-style: none;
    color: var(--red);
    width: 60px;
    height: 60px;
    font-size: 28px;
    position: absolute;
    right: 10px;
}

                            /* hero */

.hero{
    width: 100%;
    /* background-color: purple; */
    position: relative;

}

.hero::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.74);
}

.hero img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    
}

.hero-cntnts{
    width: 80%;
    /* background-color: yellow; */
    height: 100%;
    position: absolute;
    top: 0px;
    left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 0 20px;
}

.hero-cntnts h1{
    font-size: 40px;

}

.hero-cntnts p{
    color: rgb(190, 190, 190);
    font-size: 18px;
    text-align: center;
}

                        /* booking form */

.booking{
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    gap: 50px;
    margin-top: 150px;
}

.booking-cntnt{
    margin-top: 50px;
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 30px;

}

.booking-cntnt h1{
    font-size: 48px;
    text-transform: uppercase;
}

.booking-cntnt p{
    color: rgb(187, 187, 187);
}

.booking-form{
    /* height: 90vh; */
    width: 100%;
    background-color: rgb(22, 19, 26);
    border-radius: 10px;
    /* display: flex;
    flex-direction: column; */
    /* gap: 5px; */
    padding: 20px 10px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 25px;
}

.child{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.booking-form label{
    text-transform: uppercase;
    font-size: 20px;
}

.booking-form input{
    /* width: 100%; */
    height: 60px;
    background: transparent;
    border-style: none;
    border: 1px solid rgba(255, 255, 255, 0.308);
    padding: 0 20px;
    border-radius: 10px;
    font-size: 20px;
}

.booking-form textarea{
    /* width: 100%; */
    background: transparent;
    border-style: none;
    border: 1px solid rgba(255, 255, 255, 0.308);
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 20px;
}

.booking-butn{
    width: 100%;
    height: 70px;
    background-color: var(--red);
    border-radius: 10px;
    border-style: none;
    font-size: 20px;
    font-weight: 600;
    
}

                       /* section-5 */

.section6{
    /* height: 200vh; */
    width: 100%;
    background-color: rgb(22, 19, 26);
    display: flex;
    flex-direction: column;
    margin-top: 150px;
}

.section6-cntnts{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
}

.section6-cntnts h1{
    font-size: 50px;
    font-weight: 500;
}

.section6-cntnts p{
    font-size: 18px;
    color: rgb(207, 204, 204);
}

.contact-container{
    width: 100%;
    /* height: 100px; */
    /* background-color:darkcyan; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.contact-container p{
    font-size: 27px;
    font-weight: 600;
    font-style: italic;
}

.icon-container{
    width: 60px;
    height: 60px;
    border-radius: 3px;
    background-color: var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-container img{
    width: 30px;
}

.section6-image{
    flex: 1;
    padding: 30px 20px;
}

.section6-image img{
    width: 100%;
    border-radius: 10px;
}

                /* footer */


footer{
    /* height: 100vh; */
    border-top: 1px solid rgba(255, 255, 255, 0.397);
    margin-top: 100px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;

}  

.footer-cntnts{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
    gap: 30px;

}

.footer-cntnts img{
    width: 250px;
}

.footer-cntnts p{
    text-align: center;
}

.footer-logos{
    width: 300px;
    height: 60px;
    display: flex;
    gap: 20px;
}

.facebook{
    flex: 1;
    background-color:var(--red);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.facebook img{
    width: 30px;
}

.twitter{
    flex: 1;
    background-color:var(--red);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.twitter img{
    width: 30px;
}

.instagram{
    flex: 1;
    background-color:var(--red);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.instagram img{
    width: 30px;

}

.linkedin{
    flex: 1;
    background-color:var(--red);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.linkedin img{
    width: 30px;
}

.footer-links{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 70px;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
}

.footer-links ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.footer-links li:hover{
    color: var(--red);
}

.footer-links a{
    color: rgb(196, 196, 196);
}


                        /* media */

@media (min-width:768px) {
    .navig-bar ul{
        display: flex;
    }

    .menu-bar{
        display: none;
    }

    .menu-container{
        display: none;
    }
    .hero-cntnts{
        top: 0;
        left: 90px;
    }
     .booking-form input{
        /* width: 300px; */
    }
    .grid {
            grid-template-columns: repeat(3, 1fr);
            column-gap: 10px;
            row-gap: 8px;
    }

    .child {
        min-width: 0;
    }

    .child:last-child {
        grid-column: 1 / 4;
    }

    .booking-form input,
    .booking-form textarea {
        width: 100%;
    }

    .section6-buttons{
        flex-direction: row;

    }

    .footer-cntnts{
        padding: 0 50px;
    }
    .footer-links{
        flex-direction: row;
        justify-content: space-between;
        padding: 100px;
        margin-top: 50x;
    }

    .footer p{
        font-size: 20px;
    }
}


@media (min-width:1025px) {
    .logo{
        padding: 0 50px;
    }
    .logo img{
        width: 250px;
    }
    .readmore-butn{
        display: block;
    }
    .hero-cntnts{
        left: 130px;
    }

    .hero-cntnts h1{
        font-size: 80px;
        font-weight: 500;
    }

    .hero-cntnts p{
        font-size: 24px;
    }
    .booking{
        padding: 0 100px;
    }

    .booking-cntnt{
        flex-direction: row;
        text-align: left;
    }

    .section6{
        flex-direction: row-reverse;
        padding: 0 100px;
        gap: 20px;
        margin-top: 100px;

    }
    .section6-cntnts{
        gap: 25px;
        align-items: flex-start;
        text-align: left;
        margin-bottom: 30px;
    }

    .section6-butn1, .section6-butn2{
        width: 300px;
    }

    footer{
        padding: 0 100px;
        flex-direction: row;
        align-items: center;

    }

    .footer-cntnts{
        align-items: flex-start;
        margin-top: 0;
    }

    .footer-cntnts p{
        text-align: left;
    }

    .footer-links{
        flex-direction: row;
        align-items: start;
    }

    .footer-links ul{
        align-items: flex-start;
    }

    .footer-links a{
        font-size: 14px;
    }

    .contact-container{
        flex-direction: row;
        justify-content: flex-start;
    }


}