*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Bai Jamjuree',sans-serif;
    
}

:root{
    --red: rgb(237, 29, 38);
    --black:rgb(7, 3, 14);
}

body{
    background-color: var(--black);
}

header{
    width: 100%;
    height: 120px;
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 6;
}

.logo img{
    width: 150px;
}

.navig-bar{
    display: flex;
    align-items: center;
    gap: 30px;
}

.navig-bar ul{
    list-style: none;
    display: flex;
    gap: 30px;
    display: none;
    font-weight: 600;
    font-style: italic;
    /* background-color: yellow; */
}


ul a{
    text-decoration: none;
    color: rgb(188, 186, 186);

}

ul a:hover{
    color: var(--red);
}

.readmore-butn{
    background-color: white;
    color: var(--black);
    width: 120px;
    height: 50px;
    border-radius: 8px;
    border-style: none;
    display: none;
}

.menu-bar{
    border-style: none;
    background: transparent;
}

.menu-bar img{
    width: 40px;
}

.menu-container{
    width: 100%;
    height: 300px;
    position: absolute;
    transform: translateY(-430px);
    z-index: 5;
    background-color: black;
    transition: transform 2000ms ease-in;
}

.menu-links li{
    height: 60px;
    border: 1px solid rgba(255, 255, 255, 0.164);
    display: flex;
    align-items: center;
    padding: 30px;
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    color: rgb(184, 184, 184);
}

.close-butn{
    background: transparent;
    border-style: none;
    color: var(--red);
    width: 60px;
    height: 60px;
    font-size: 28px;
    position: absolute;
    right: 10px;
}

.hero{
    /* height: 120vh; */
    width: 100%;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
    margin-bottom: 50px;
    overflow: hidden;
}

.hero-cntnt{
    width: 100%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    text-align: center;

}

.hero p{
    color: rgb(194, 194, 194);
    font-size: 14px;
    font-weight: 500;
    /* font-style: italic; */
    display: flex;
    align-items: center;
    gap: 10px;
}

.hero h1{
    font-size: 60px;
    font-weight: 500;
}

.booking{
    width: 100%;
    height: 50px;
    background-color: var(--red);
    font-size: 20px;
    border-style: none;
    border-radius: 8px;

}

.rating{
    width: 250px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rebeccapurple; */
}

.ppl-container{
    width: 200px;
    height: 100px;
    position: relative;
    /* background-color: yellow; */
}

.main-car{
    width: 80%;
    height: 250px;
    z-index: 1;
    position: relative;
    /* bottom: 10px; */
    overflow: visible;
}

.main-car::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('main-car-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    mask-image: radial-gradient( ellipse at center, black 50%, transparent 100% );
    z-index: 2;

}

.main-car img{
    object-fit: cover;
    width: 100%;
    position: absolute;
    bottom: -10px;
    left: -50px;
    z-index: 3;
        /* outline: 2px solid red; */


}

                        /* rental brands--section 2 */

.rental-brands{
    /* height: 100vh; */
    width: 100%;
    background-color: var(--black);
    margin-top: 0px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.heading-2{
    /* background-color: crimson; */
    /* width: 100%; */
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.heading-2 img{
    width: 50px;
    height: 40px;
}

.heading-2 h1{
    text-align: center;
}

.brand-container{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    

}

.brand-container::-webkit-scrollbar{
    display: none;
}


.brand{
    flex: 0 0 150px;
    width: 150px;
    height: 150px;
    display: flex;
    margin-left: 50px;

}

.rental-brands p{
    text-align: center;
}

                    /* section-3 */

.section-3{
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin-top: 50px;
}

.section3-cntn{
    /* background-color:blue; */
    /* flex: 1; */
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    text-align: center;
    padding: 0 20px;

}

.section3-cntn h1{
    font-size: 55px;
    font-weight: 500;
}

.data-parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 20px;
}

.data h1{
    font-weight: 550;
}

.section3-img{
    /* background-color: yellowgreen; */
    /* flex: 1; */
    height: 50%;
    background-image: url('section3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 20px;
    border-radius: 10px;
}


                    /* fleet-section */

.fleet{
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    
    
}                 

.fleet-cntnts{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
}

.fleet-cntnts h1{
    font-size: 50px;
    font-weight: 500;
}

.fleet-cntnts p{
    font-size: 18px;
    color: grey;
}

.cars-container{
    width: 100%;
    /* background-color: pink; */
    display: grid;
    grid-template-columns: repeat(1,1fr);
    padding: 50px 20px;
    gap: 30px;
}

.car{
    width: 100%;
    height: 80%;
    border-radius: 20px;
    background-color: #16131A;
    overflow: hidden;
    /* padding: 10px 10px ; */
    display: flex;
    flex-direction: column;
    align-items: center;

}

.car img{
    width: 80%;
}

.car-parent{
    /* height: 400px; */
    /* background-color: green; */
}

.car-child{
    width: 90%;
    height: 40px;
    background-color: rgb(50, 48, 54);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    margin: 10px;
}

.name-and-price{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.name:hover{
    color: red;
}

                /* section-5 */

.section5{
    /* height: 200vh; */
    width: 100%;
    background-color: rgb(22, 19, 26);
    display: flex;
    flex-direction: column;
}

.section5-cntnts{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
}

.section5-cntnts h1{
    font-size: 50px;
    font-weight: 500;
}

.section5-cntnts p{
    font-size: 18px;
    color: rgb(207, 204, 204);
}

.section5-list{
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    gap: 20px;
    font-style: italic;
}

.section5-list img{
    width:20px;
}

.section5-buttons{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.section5-butn1{
    width: 100%;
    height: 70px;
    background-color: var(--red);
    border-radius: 10px;
    border-style: none;
    font-size: 20px;
    font-weight: 600;

}

.section5-butn2{
    width: 100%;
    height: 70px;
    background:rgba(255, 255, 255, 0.212);
    border-radius: 10px;
    border-style: none;
    border: 1px solid rgba(255, 255, 255, 0.349);
    font-size: 20px;
    font-weight: 600;
}

.section5-image{
    flex: 1;
    padding: 30px 20px;
}

.section5-image img{
    width: 100%;
    border-radius: 10px;
}

                /* footer */

footer{
    /* height: 100vh; */
    border-top: 1px solid rgba(255, 255, 255, 0.397);
    margin-top: 100px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;

}  

.footer-cntnts{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
    gap: 30px;

}

.footer-cntnts img{
    width: 250px;
}

.footer-cntnts p{
    text-align: center;
}

.footer-logos{
    width: 300px;
    height: 60px;
    display: flex;
    gap: 20px;
}

.facebook{
    flex: 1;
    background-color:var(--red);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.facebook img{
    width: 30px;
}

.twitter{
    flex: 1;
    background-color:var(--red);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.twitter img{
    width: 30px;
}

.instagram{
    flex: 1;
    background-color:var(--red);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.instagram img{
    width: 30px;

}

.linkedin{
    flex: 1;
    background-color:var(--red);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.linkedin img{
    width: 30px;
}

.footer-links{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 70px;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
}

.footer-links ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.footer-links li:hover{
    color: var(--red);
}

.footer-links a{
    color: rgb(196, 196, 196);
}


                    /* media */

@media (min-width:768px) {
    .navig-bar ul{
        display: flex;
    }

    .menu-bar{
        display: none;
    }

    .menu-container{
        display: none;
    }

    .booking{
        width: 150px;
    }

    .main-car{
        height: 400px;
        bottom: -50px;
    }

    .heading-2{
        /* width: 650px; */
        justify-content: center;
        gap: 30px;
    }

    /* .carlsson{
        display: none;
    }

    .caparo{
        display: none;
    } */

    .section3-cntn{
        height: 30%;
    }

    .section3-img{
        height: 70%;
    }

    .data-parent{
        flex-direction: row;
        gap: 80px;
    }

    .section5-buttons{
        flex-direction: row;

    }

    .footer-cntnts{
        padding: 0 50px;
    }
    .footer-links{
        flex-direction: row;
        justify-content: space-between;
        padding: 100px;
        margin-top: 50x;
    }

    .footer p{
        font-size: 20px;
    }

}

@media (min-width:1025px) {
    .logo{
        padding: 0 50px;
    }
    .logo img{
        width: 250px;
    }
    .readmore-butn{
        display: block;
    }
    .hero{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 100px 50px 0 100px ;
    }
    .hero-cntnt{
        width: 45%;
        text-align: left;
        display: flex;
        align-items: flex-start;
        gap: 30px;
    }
    .hero h1{
        font-size: 70px;
    }
    .rating{
        margin-top: 180px;
        /* flex-direction: row; */

    }

    .main-car{
        width: 65%;
        height: 800px;
        position: relative;
    }

    .main-car h1{
        position: absolute;
        right: -400px;
        top: 0px;
    }

    .main-car::before{
        mask-image: radial-gradient( ellipse closest-side at center, black 30%, transparent 100% );
    }

    .main-car img{
        width: 1000px;
        position: absolute;
        left: -300px;   /*down to left , up tp right (iykyk)*/
        bottom: 100px;
    }

    .rental-brands{
        margin-top: 150px;
    }

    .heading-2{
        /* background-color: pink; */
        width: 100%;
        justify-content: center;
        gap: 40px;
    }

    .heading-2 h1{
        font-size: 50px;
    }

     .brand-container{
        padding: 0 100px;
    }
   /* .brand{
        background-color: palegoldenrod;
    }
    .carlsson{
        display: none;
    }

    .caparo{
        display: flex;
    } */

    .rental-brands p{
        padding: 0 400px;
    }

    .section-3{
        padding: 0 100px;
        height: 80vh;
        flex-direction: row-reverse;
        margin-top: 200px;
    }
    .section3-cntn{
        width: 60%;
        gap: 50px;
        text-align: left;
        margin-left: 20px;
    }
    .section3-img{
        width: 40%;
        height: 100%;
    }

    .fleet{
        margin-top: 150px;
        padding: 0 100px;
    }


    .fleet-cntnts{
        flex-direction: row;
        /* justify-content: space-between; */
        text-align: left;
        gap: 500px;
        /* padding: 0 100px; */
    }

    .fleet-cntnts h1{
        font-size: 40px;
        font-weight: 600;
        text-align: justify;
    }

    .fleet-cntnts p{
        font-size: 18px;
        text-align: justify;
    }

    .cars-container{
        grid-template-columns: repeat(3,1fr);
    }

    .car-child{
        font-size: 18px;
    }

    .section5{
        flex-direction: row-reverse;
        padding: 0 100px;
        gap: 20px;

    }
    .section5-cntnts{
        gap: 25px;
        align-items: flex-start;
        text-align: left;
        margin-bottom: 30px;
    }

    .section5-butn1, .section5-butn2{
        width: 300px;
    }

    footer{
        padding: 0 100px;
        flex-direction: row;
        align-items: center;

    }

    .footer-cntnts{
        align-items: flex-start;
        margin-top: 0;
    }

    .footer-cntnts p{
        text-align: left;
    }

    .footer-links{
        flex-direction: row;
        align-items: start;
    }

    .footer-links ul{
        align-items: flex-start;
    }

    .footer-links a{
        font-size: 14px;
    }
    
}
